* {
  box-sizing: border-box;
}
html,
body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.conteinerMain {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.NavSide {
  background-color: #1f1f23;
  display: flex;
  flex-direction: column;
  width: 290px;
}
.NavSide :hover {
  background-color: #333333;
  cursor: pointer;
}
.title {
  font-weight: bold;
  margin: 10px 0 15px 10px;
  font-size: 14px;
}
.userCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.userImg {
  height: 27px;
  width: 27px;
  border-radius: 50%;
}
.UserImgNone {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  filter: grayscale(100%);
}
.conteinerInfo {
  display: flex;
  flex-direction: column;
  width: 109px;
}
.conteinerInfo p {
  font-size: 13px;
  margin: 0;
}
.nameUser {
  font-weight: bold;
}
.infoUser {
  color: #9f9f9f;
}
.conteinerStatus {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 60px;
  width: 50px;
}
.conteinerStatus p {
  font-size: 15px;
  font-weight: normal;
}
.statusUser {
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}
.statusUserNone {
  height: 10px;
  width: 10px;
  background-color: rgb(76, 76, 76);
  border-radius: 50%;
}
.viewsNone {
  visibility: hidden;
}

/*-------------*/
.main {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 80%;
}
.card {
  position: relative;
  display: inline-block;
}
.card:hover img:nth-of-type(1){
  cursor: pointer;
  transform: translate(0.375rem, -0.375rem);
  transition: all 0.3s ease;
}
.card:hover div:nth-of-type(2){
  cursor: pointer;
  transform: translate(0.375rem, -0.375rem);
  transition: all 0.3s ease;
}

.card:before,
.card:after {
  content: '';
  background-color: blueviolet;
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  transition: all 0.15s ease;
  z-index: 0;
}
.card:before {
  top: 0;
  left: 0;
  transform-origin: top left;
}
.card:after {
  right: 0.3rem;
  bottom: 2.9rem;
  transform-origin: bottom right;
  transform: rotate(45deg) scale(0);
}

.card:hover:before {
  transform: rotate(-45deg);
}

.card:hover:after {
  transform: rotate(45deg);
}


.imgCard {
  height: 270px;
  width: 200px;
  z-index: 1;
  position: relative;
}
.backgroundImg {
  background-color: blueviolet;
  top: 0;
  left: 0;
  height: 270px;
  width: 200px;
  transition: all 0.15s ease;
  z-index: 0;
  position: absolute;
}
.card p {
  margin: 0;
}
.card p:nth-of-type(1) {
  font-weight: bold;
}
.card p:nth-of-type(2) {
  color: #9f9f9f;
}
.newContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff75e6;
  height: 20x;
  width: 55px;
  font-size: 12px;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  left: 130px;
  color: #353535;
  z-index: 1;
}
.newContentNone {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff75e6;
  height: 20x;
  width: 55px;
  font-size: 12px;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  left: 130px;
  color: #353535;
  visibility: hidden;
}
